:root {
  font-family: "Segoe UI", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.9);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: #1db954;
  --black: #000;
  --dark: #121212;
  --dark2: #181818;
  --gray: #b3b3b3;
}

* {
  box-sizing: border-box;
}

/* ==============================
   MOISES MUSIC - SPOTIFY STYLE
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #121212;
  color: white;
  overflow-x: hidden;
}

button {
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}

input {
  outline: none;
}

/* Scrollbar estilo Spotify */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Melhor aparência para range */
input[type="range"] {
  height: 5px;
  border-radius: 10px;
  background: #444;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #1db954;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #1db954;
  cursor: pointer;
}

/* Mobile ajustes */
@media (max-width: 768px) {
  body {
    padding-bottom: 140px;
  }
}

@keyframes pulseWave {
  0% {
    transform: scale(0.8);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.6;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.2;
  }
}

@keyframes floatDots {
  0% {
    transform: translateY(0px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-15px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.4;
  }
  
}

